# Python binary files
*.pyc
*.pyo

# Python binary files
*.class

# Backup files
*.bak
*~
*.swp

# Output files
results/
*.csv
Pyr_RS/simulations/
Pyr_RS/generated*/
Pyr_FS/simulations/
Pyr_FS/generated*/
Pyr_IB/simulations/
Pyr_IB/generated*/
Pyr_CH/simulations/
Pyr_CH/generated*/
/*.log

GenAlg/plots/

# neuroConstruct
neuroConstruct_1.6.0/lib/jython/cachedir/
