# Python binary files
*.pyc
*.pyo
*py.class

# Backup files
*.bak
*~
*.swp

# Config files
*.cfg
# Except the default.cfg, which describes the default behaviour
!default.cfg

# neuroConstruct
neuroConstruct_1.6.0/lib/jython/cachedir/
